header {
	padding: 20px 0;
	font-family: cursive;

}body {
	font-size: 30px;
	color: #822828;
	text-align: left;
}

nav {
	position: absolute;
	top: 110px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 50px;
	padding: 100px 0;
}

nav a {
	font-family: cursive;
	font-weight: lighter;
	color: #000000;
	font-weight: lighter;
	font-size: 30px;
	text-decoration: none;
}

nav a:hover {
	color: #25686e;
	text-decoration: underline;
}

.aratu1 {
	text-align: top;
	margin-top: top;
	width: 40%;
}

h1 {
	color: rgb(93, 93, 47);
	text-align: center;
	widht: 10px;
	font-family: cursive;
}

p {
	color: #2a2d47
}

.principal {
	background-color:#ecf1f4;
	padding: 15px 10px;
	line-height: 0;
}

#titulo {
	width: 30%;
}
.titulo-principal {
	padding-left: 20px;
}

.titulo-centralizado {
	text-align: left;
}

p {
	text-align: left;
}

#missao {
	font-size: 20px
}

em strong {
	color: #0e0b0b;
}

.itens {
	font-style: italic
}

.conteudo {
	background-color: hsl(0, 0%, 100%);
	padding: 20px;
	font-size: 25px;
}

ul {
	display: inline-block;
	margin-top: top;
	padding-top: 0;
}

.aratu5 {
	width: 100%;
}


footer {
	text-align: center;
	font-size: 20px;
	padding: 40px 50px;
}

copyright {
	color: #270505;
    font-size: 13px;
	text-align: center;
}